<ul>
  @for (node of nodes(); track node.id) {
    <li [class.deleted]="node.is_deleted">
      <ng-container
        [ngTemplateOutlet]="nodeTemplate()"
        [ngTemplateOutletContext]="{ $implicit: node }"
      />
      @if (node.children.length > 0) {
        <button (click)="treeStateService.toggleState(node.id)">
          @if (treeStateService.getState(node.id)?.expanded()) {
            <span>▲</span>
          } @else {
            <span>▼</span>
          }
        </button>
      }

      @if (node.children.length > 0 && treeStateService.getState(node.id).expanded()) {
        <app-tree
          [nodes]="node.children"
          [nodeTemplate]="nodeTemplate()"
        ></app-tree>
      }
    </li>
  }
</ul>
