<ul>
  @for (node of nodes(); track node.id) {
    <li
	    class="li-item"
	    [class.deleted]="node.is_deleted">
      <div class="li-item-content">
	      @if (node.children.length) {
		      <button
			      class="arrow-btn"
			      [class.open]="treeStateService.getState(node.id)?.expanded()"
			      (click)="treeStateService.toggleState(node.id)">
		      </button>
	      }

	      <ng-container
		      [ngTemplateOutlet]="nodeTemplate()"
		      [ngTemplateOutletContext]="{ $implicit: node }"
	      />

	      @if (idLogging()) {
		      <button (click)="logNodeId(node.id)">Вывод ID в log</button>
	      }

	      @if (expandListAll()) {
		      <button (click)="treeStateService.expandAll(node)">Развернуть все</button>
	      }
      </div>

	    <div class="li-content">
		    @if (node.children.length > 0 && treeStateService.getState(node.id).expanded()) {
			    <app-tree
				    [nodes]="node.children"
				    [nodeTemplate]="nodeTemplate()"
			    ></app-tree>
		    }
	    </div>
    </li>
  }
</ul>
